<!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8" />
        <title>Git Pub App</title>
      </head>
      <body>
    
        <style type="text/css">
            body {
              color: blanchedalmond;
              background-color: steelblue;
            }
        </style>
    
        <a href="/drinks/">back</a>
        <h1>At foo bar</h1>
        <h2> </h2>
        <%=drink.name %> 

        <img src="<%=drink.image%>.jpg">

        <h3> </h3>
        <%=drink.price %> 
    
      </body>
    </html>